<form method="post" action="/categoria/update/<%= model.id %>"
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome"
    value="<%= model.nome%>"
    placeholder="Digite o nome da categoria"/>
  <br/>
  <button>Salvar</button>
</form>
